In [1]:
import glob
import cv2
import pytesseract

In [2]:
pytesseract.pytesseract.tesseract_cmd='C:\\Program Files (x86)\\Tesseract-OCR\\tesseract.exe'

In [3]:
images = []
imagename=[]
imagetext=[]
for img in glob.glob('C:\\Users\\SHAKYA\\Desktop\\Data_Science_files\\Hackerearth Database\\NLP\\OCR\\Dataset\\*.jpg'):
    n= cv2.imread(img)
    image=cv2.cvtColor(n,cv2.COLOR_BGR2GRAY)
    image = cv2.resize(image, None, fx=1.5, fy=1.5,interpolation=cv2.INTER_LINEAR)
    ret,thresh_img = cv2.threshold(image,127,255,cv2.THRESH_TOZERO)
    images.append(thresh_img)
    filename, ext = (img.split('\\')[-1].split('.'))
    imagename.append(filename+'.'+ext)
    imagetext.append(pytesseract.image_to_string(thresh_img))

In [4]:
import pandas as pd
import re

In [5]:
df=pd.DataFrame({'ImageName':imagename,'ImageText':imagetext})

In [6]:
df.head()

      ImageName                                          ImageText
0   Test100.jpg
1  Test1001.jpg  When people ask\nwhat I see in you,\n\nI just ...
2  Test1012.jpg                  LOVE\nis TOO\nTO BE HI\nIN THE CL
3  Test1022.jpg                                               LOVE
4   Test103.jpg                                             : MTBE

In [7]:
len(df)

239

In [8]:
def clean_text(data,col):
    corpus=[]
    for i in range(len(data[col])):
        text=re.sub(r'http\S+', ' ', data[col][i])
        text=text.lower()
        text=re.sub(r"that's","that is",text)
        text = re.sub(r"there's","there is",text)
        text = re.sub(r"what's","what is",text)
        text = re.sub(r"where's","where is",text)
        text = re.sub(r"it's","it is",text)
        text = re.sub(r"who's","who is",text)
        text = re.sub(r"i'm","i am",text)
        text = re.sub(r"she's","she is",text)
        text = re.sub(r"he's","he is",text)
        text = re.sub(r"they're","they are",text)
        text = re.sub(r"who're","who are",text)
        text = re.sub(r"ain't","am not",text)
        text = re.sub(r"wouldn't","would not",text)
        text = re.sub(r"shouldn't","should not",text)
        text = re.sub(r"can't","can not",text)
        text = re.sub(r"couldn't","could not",text)
        text = re.sub(r"won't","will not",text)
        text=re.sub(r'[@#\$%&\*\(\)\<\>\?\!\;\'\\-\_"]',' ',text)
        text= re.sub(r'\W',' ',text)
        text=re.sub(r'\d',' ',text)
        text=re.sub(r'^[a-z]\s',' ',text)
        text=re.sub(r'\s+[a-z]\s+',' ',text)
        text=re.sub(r'\s+[a-z]$',' ',text)
        text=re.sub(r'\s+',' ',text)
        corpus.append(text)
    return corpus

In [9]:
df['CleanedText']=clean_text(df,'ImageText')

In [11]:
import re
import nltk
from nltk.corpus import stopwords
from sklearn.datasets import load_files
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SHAKYA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\SHAKYA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [12]:
def remove_stopword(data,col):
    corpus=[]
    s=set(stopwords.words('english'))
    s1=['not','or','no','nor']
    for i in s1:
        if i in s:
            s.remove(i)
    for i in range(len(data[col])):
        words = nltk.word_tokenize(data[col][i])
        word1 = [word for word in words if word not in s]
        corpus.append(' '.join(word1))
    return corpus

In [16]:
df['CleanedText']=remove_stopword(df,'CleanedText')

In [18]:
df

,ImageName,ImageText,CleanedText
0,Test100.jpg,,
1,Test1001.jpg,"When people ask\nwhat I see in you,\n\nI just ...",people ask see smile look away afraid knew fal...
2,Test1012.jpg,LOVE\nis TOO\nTO BE HI\nIN THE CL,love hi cl
3,Test1022.jpg,LOVE,love
4,Test103.jpg,: MTBE,mtbe
...,...,...,...
234,Test945.jpg,HATE\nIt was a Lot\nor rroOmLENMS IN THIS\nWOR...,hate lot or rroomlenms world hut not solyed on...
235,Test946.jpg,"""I am not free\nwhile any woman\nis unfree, ev...",not free woman unfree even shackles different ...
236,Test957.jpg,[ ool cma\n\n| AM THANKFUL FOR EVERY SINGLE DA...,ool cma thankful every single day oooooooooooooo
237,Test979.jpg,,
238,Test993.jpg,Being gay is not a crime\n\nand it is not a si...,gay not crime not sin stop using god justify p...

In [19]:
df.head()

,ImageName,ImageText,CleanedText
0,Test100.jpg,,
1,Test1001.jpg,"When people ask\nwhat I see in you,\n\nI just ...",people ask see smile look away afraid knew fal...
2,Test1012.jpg,LOVE\nis TOO\nTO BE HI\nIN THE CL,love hi cl
3,Test1022.jpg,LOVE,love
4,Test103.jpg,: MTBE,mtbe

In [20]:
df[df['ImageName']=='Test536.jpg']

,ImageName,ImageText,CleanedText
192,Test536.jpg,"""BE STRONG,\nYOU NEVER\nKNOW WHO\n\nYOU ARE\nI...",strong never know inspiring

In [21]:
from textblob import TextBlob

In [22]:
df['CleanedText'][192]

'strong never know inspiring'

In [24]:
df['Polarity']=df.CleanedText.copy()

In [25]:
for i in range(len(df)):
        if len(df['CleanedText'][i])>3:
            senti=TextBlob(df['CleanedText'][i])
            df['Polarity'][i]=senti.polarity
           
        else:
            df['Polarity'][i]=0

In [26]:
df

,ImageName,ImageText,CleanedText,Polarity
0,Test100.jpg,,,0
1,Test1001.jpg,"When people ask\nwhat I see in you,\n\nI just ...",people ask see smile look away afraid knew fal...,0.0666667
2,Test1012.jpg,LOVE\nis TOO\nTO BE HI\nIN THE CL,love hi cl,0.5
3,Test1022.jpg,LOVE,love,0.5
4,Test103.jpg,: MTBE,mtbe,0
...,...,...,...,...
234,Test945.jpg,HATE\nIt was a Lot\nor rroOmLENMS IN THIS\nWOR...,hate lot or rroomlenms world hut not solyed on...,-0.8
235,Test946.jpg,"""I am not free\nwhile any woman\nis unfree, ev...",not free woman unfree even shackles different ...,-0.1
236,Test957.jpg,[ ool cma\n\n| AM THANKFUL FOR EVERY SINGLE DA...,ool cma thankful every single day oooooooooooooo,-0.0714286
237,Test979.jpg,,,0
238,Test993.jpg,Being gay is not a crime\n\nand it is not a si...,gay not crime not sin stop using god justify p...,0.230556

In [27]:
def sentiment(value):
    if value>0:
        return 'Positve'
    elif value==0:
        return 'Random'
    elif value<0.20:
        return 'Negative'
    else:
        pass

In [28]:
df['Seniment']=df['Polarity'].apply(sentiment)

In [29]:
df

,ImageName,ImageText,CleanedText,Polarity,Seniment
0,Test100.jpg,,,0,Random
1,Test1001.jpg,"When people ask\nwhat I see in you,\n\nI just ...",people ask see smile look away afraid knew fal...,0.0666667,Positve
2,Test1012.jpg,LOVE\nis TOO\nTO BE HI\nIN THE CL,love hi cl,0.5,Positve
3,Test1022.jpg,LOVE,love,0.5,Positve
4,Test103.jpg,: MTBE,mtbe,0,Random
...,...,...,...,...,...
234,Test945.jpg,HATE\nIt was a Lot\nor rroOmLENMS IN THIS\nWOR...,hate lot or rroomlenms world hut not solyed on...,-0.8,Negative
235,Test946.jpg,"""I am not free\nwhile any woman\nis unfree, ev...",not free woman unfree even shackles different ...,-0.1,Negative
236,Test957.jpg,[ ool cma\n\n| AM THANKFUL FOR EVERY SINGLE DA...,ool cma thankful every single day oooooooooooooo,-0.0714286,Negative
237,Test979.jpg,,,0,Random
238,Test993.jpg,Being gay is not a crime\n\nand it is not a si...,gay not crime not sin stop using god justify p...,0.230556,Positve

In [30]:
df_final=df[['ImageName','Seniment']]

In [31]:
df_final.columns=['Filename','Category']

In [32]:
df_final.to_csv('S2.csv',index=False)